@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--LightGray);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

main{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 30px;
    max-width: 20rem;
}

main img{
    display: block;
    max-width: 100%;
    border-radius: 15px;
}

main h2{
    color: var(--DarkBlue);
    font-weight: 700;
}

main p{
    color: var(--GrayishBlue);
    font-size: .95rem;
    font-weight: 400;
}

